Importing necessary libraries.

In [4]:
import pandas as pd
from xgboost import XGBClassifier
from scipy.stats import uniform, randint
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.metrics import accuracy_score, classification_report

Loading and viewing the dataset. This dataset contains 39717 rows and 111 columns.

In [5]:
df = pd.read_csv('data/loan.csv')
df

C:\Users\odil\AppData\Local\Temp\ipykernel_14244\1213397955.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/loan.csv')

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,92187,92174,2500,2500,1075.0,36 months,8.07%,78.42,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39713,90665,90607,8500,8500,875.0,36 months,10.28%,275.38,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39714,90395,90390,5000,5000,1325.0,36 months,8.07%,156.84,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39715,90376,89243,5000,5000,650.0,36 months,7.43%,155.38,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39716,87023,86999,7500,7500,800.0,36 months,13.75%,255.43,E,E2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Cleaning the dataframe by dropping the columns that only have null values. Only 57 columns remain.

In [6]:
df.dropna(axis=1, how='all', inplace=True)

df

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,Jun-16,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,92187,92174,2500,2500,1075.0,36 months,8.07%,78.42,A,A4,...,NaN,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39713,90665,90607,8500,8500,875.0,36 months,10.28%,275.38,C,C1,...,NaN,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39714,90395,90390,5000,5000,1325.0,36 months,8.07%,156.84,A,A4,...,NaN,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39715,90376,89243,5000,5000,650.0,36 months,7.43%,155.38,A,A2,...,NaN,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39716,87023,86999,7500,7500,800.0,36 months,13.75%,255.43,E,E2,...,NaN,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN

Checking the null count for the remaining columns.

In [7]:
df.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2459
emp_length                     1075
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
desc                          12942
purpose                           0
title                            11
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq        25682
mths_since_last_record        36931
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       50
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     71
last_pymnt_amnt                   0
next_pymnt_d                  38577
last_credit_pull_d                2
collections_12_mths_ex_med       56
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies            697
tax_liens                        39
dtype: int64

Dropping the columns where the majority of rows are null. For example, the column `mths_since_last_delinq` has 25682 rows with null values out of the total 39717 rows.

In [8]:
df.drop(columns=['mths_since_last_record', 
                 'next_pymnt_d', 
                 'mths_since_last_delinq'], inplace=True)

Checking the number of unique values for the remaining columns.

In [9]:
unique_counts = df.nunique()
unique_counts

id                            39717
member_id                     39717
loan_amnt                       885
funded_amnt                    1041
funded_amnt_inv                8205
term                              2
int_rate                        371
installment                   15383
grade                             7
sub_grade                        35
emp_title                     28820
emp_length                       11
home_ownership                    5
annual_inc                     5318
verification_status               3
issue_d                          55
loan_status                       3
pymnt_plan                        1
url                           39717
desc                          26526
purpose                          14
title                         19615
zip_code                        823
addr_state                       50
dti                            2868
delinq_2yrs                      11
earliest_cr_line                526
inq_last_6mths                    9
open_acc                         40
pub_rec                           5
revol_bal                     21711
revol_util                     1089
total_acc                        82
initial_list_status               1
out_prncp                      1137
out_prncp_inv                  1138
total_pymnt                   37850
total_pymnt_inv               37518
total_rec_prncp                7976
total_rec_int                 35148
total_rec_late_fee             1356
recoveries                     4040
collection_recovery_fee        2616
last_pymnt_d                    101
last_pymnt_amnt               34930
last_credit_pull_d              106
collections_12_mths_ex_med        1
policy_code                       1
application_type                  1
acc_now_delinq                    1
chargeoff_within_12_mths          1
delinq_amnt                       1
pub_rec_bankruptcies              3
tax_liens                         1
dtype: int64

Dropping the columns where the value in each row is unique. We also drop the columns that have the same value across all rows. Both cases do not display any pattern that can help predict the loan grade of the individual.

In [10]:
columns_to_drop = unique_counts[(unique_counts == df.shape[0]) | (unique_counts == 1)].index
df.drop(columns=columns_to_drop, inplace=True)

Our target feature in this dataset is `grade`. This represents the loan grade of the individual. We will convert this feature to numeric format.

In [11]:
label_encoder = LabelEncoder()
df['grade'] = label_encoder.fit_transform(df['grade'])

Now we must engineer the features to prepare the data for model training.

Some features have string elements such as `%` along with a number. The number portion of the values were extracted.

In [ ]:
df['int_rate_'] = df['int_rate'].str.replace('%', '').astype(float)
df['emp_length_'] = df.emp_length.str[:2].str.strip().replace('<', '0').astype(float)
df['revol_util_'] = df.revol_util.str[:-1].astype(float)

Some features were in date format. To convert them to numeric format, the earliest date was taken as the reference and the number of elapsed months were calculated by subtracting the reference date from the current date.

In [12]:
for date_col in ['earliest_cr_line', 'issue_d', 'last_pymnt_d', 'last_credit_pull_d']:
    df[date_col] = pd.to_datetime(df[date_col], format='%b-%y')

# `earliest_cr_line` feature is calculated separately because its earliest date is 1969
elapsed_months = (df['earliest_cr_line'].dt.year - df['earliest_cr_line'].min().year) * 12 + (df['earliest_cr_line'].dt.month - df['earliest_cr_line'].min().month)
df['earliest_cr_line'] = elapsed_months

# Calculating for other date features | January 2007 was selected because the dataset is b/w 2007-2011
earliest_ref_d = pd.to_datetime('2007-01-01')

for date_col in ['issue_d', 'last_pymnt_d', 'last_credit_pull_d']:
    elapsed_months = (df[date_col].dt.year - earliest_ref_d.year) * 12 + (df[date_col].dt.month - earliest_ref_d.month)
    df[date_col] = elapsed_months

The `term` feature only had two possible values: ` 36 months` and ` 60 months`. They were label encoded to 0 and 1, respectively.

The `home_ownership` feature was one-hot encoded as it only had three categories.

In [13]:
# Label encoding
df['term_'] = df['term'].map({' 36 months': 0, ' 60 months': 1})

# One-hot encoding
df = pd.get_dummies(df, columns=['home_ownership'])

# Converting the dummy boolean columns to 0 and 1s
boolean_cols = df.select_dtypes(include='bool').columns
df[boolean_cols] = df[boolean_cols].astype(int)

Some features such as `purpose`, `zip_code`, and `addr_state` had a large number of unique possible categories (high cardinality). If one-hot encoding were to be applied, then we would have a large number of features. This in turn would spread out the data points, making it difficult to find meaningful patterns in data. For this reason, target encoding was used, where the mean of the encoded target feature, `grade` in our case, was calculated for each unique category of the above-mentioned features. The mean values were then used for each category, converting the categorical values to numeric values.

In [ ]:
# Target encoding
for col in ['purpose', 'zip_code', 'addr_state']:
    df[col] = df[col].map(df.groupby(col)['grade'].mean())

Some features such as `loan_status` and `verification_status` were ordinally encoded due to the inherent order of their categories.

In [14]:
df['loan_status_'] = df['loan_status'].map({'Charged Off': 0,
                                            'Current': 1,
                                            'Fully Paid': 2})
df['verification_status_'] = df['verification_status'].map({'Not Verified': 0,
                                                            'Verified': 1,
                                                            'Source Verified': 2})

Some features with names that ended with `_inv` were removed as they had very similar values with certain other columns.

In [15]:
# Dropping the old columns after the above changes
df.drop(columns=['term',
                 'int_rate',
                 'loan_status',
                 'emp_length',
                 'verification_status',
                 'revol_util',
                 'home_ownership_NONE',   # mostly 0 values
                 'out_prncp',             # ditto
                 'home_ownership_OTHER',  # ditto
                 'desc',                  # irrelevant
                 'earliest_cr_line',      # ditto
                 'title',                 # ditto
                 'emp_title',             # too many categories (28820)
                 'sub_grade',             # an extension of the target feature
                ], inplace=True)

df.drop(columns=df.columns[df.columns.str[-4:] == '_inv'], inplace=True)

Normalization of features is unnecessary since tree-based algorithms can handle large differences in feature scales. Some features have missing values. XGBoost can handle them as well.

Now we can split the dataset into train, validation, and test sets with 60-20-20 splits.

In [17]:
X = df.drop('grade', axis=1)
y = df['grade']

X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.4, stratify=y, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, stratify=y_temp, random_state=42)

We can train an XGBoost model on train and validation sets. Validation set is used during training to enable early stopping of the model. This helps prevent overfitting.

After training, we can evaluate the model on the test set to measure its performance on unseen data.

In [ ]:
model = XGBClassifier(
    objective='multi:softmax',
    eval_metric='mlogloss',
    use_label_encoder=False,
    n_estimators=100,
    early_stopping_rounds=10
)

model.fit(
    X_train, y_train,
    eval_set=[(X_val, y_val)],
    verbose=True,
)

In [ ]:
y_pred = model.predict(X_test)
print("Accuracy on test set:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

We must tune the hyperparameters to achieve better model performance. We can use random search to search for the optimal hyperparameters.

We rejoined the train and validation sets since the `RandomizedSearchCV` class performs cross-validation.

After finding the best hyperparameters, we need to evaluate the model on the test set.

In [ ]:
X_train = pd.concat([X_train, X_val], ignore_index=True)
y_train = pd.concat([y_train, y_val], ignore_index=True)

model = XGBClassifier(
    objective='multi:softmax',
    eval_metric='mlogloss',
    use_label_encoder=False
)

param_dist = {
    'max_depth': randint(3, 10),
    'min_child_weight': randint(1, 6),
    'learning_rate': uniform(0.01, 0.2),
    'n_estimators': randint(100, 500)
}

random_search = RandomizedSearchCV(
    estimator=model,
    param_distributions=param_dist,
    n_iter=30,
    scoring='accuracy',
    cv=5,
    verbose=1,
    random_state=42
)

random_search.fit(X_train, y_train)

In [ ]:
best_params = random_search.best_params_

print(f'Best parameters: {best_params}')
print(f'Best score: {random_search.best_score_}')

y_pred = random_search.predict(X_test)
print("Accuracy on test set:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

Since we have found the optimal hyperparameters, we can use them to initialize a new model. We can train the best model on the combined train and validation sets for extra data. The validation set will not be necessary to include since we already know the optimal hyperparameters.

As before, we will evaluate the model on the unseen test set.

We will save the best model.

In [ ]:
best_model = XGBClassifier(
    objective='multi:softmax',
    eval_metric='mlogloss',
    use_label_encoder=False,
    **best_params
)

best_model.fit(X_train, y_train)

In [ ]:
y_pred = best_model.predict(X_test)
print("Accuracy on test set:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

In [ ]:
best_model.save_model('best_xgboost_model.json')